*~
*.o
*.d
*.log
*.dat
*.wdb
isim
*.xmsgs
*.cmd
*_sim
*.wcfg
test_generator/eq
test_generator/lt
test_generator/add
test_generator/sub
test_generator/not
test_generator/and
test_generator/nor
test_generator/nand
test_generator/or
test_generator/xor
test_generator/left_arith_shift
test_generator/right_arith_shift
test_generator/left_logic_shift
test_generator/right_logic_shift